<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/homepage.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="homepage">
      <!-- Hero sectie -->
      <section class="hero">
        <h1 class="h1-text">
          <span class="word-1">Welkom</span>
          <span class="word-2">op</span>
          <span class="word-3">Onze</span>
          <span class="word-4">Website</span>
        </h1>

        <p>
          Een moderne, stijlvolle ervaring die perfect aansluit op jouw wensen.
        </p>
        <button class="btn-primary">Lees Meer</button>
      </section>

      <!-- Content sectie -->
      <section class="content">
        <div class="content-block">
          <img src="/svgs/question-mark.svg" alt="Waarom Ons" />
          <h2>Waarom Ons?</h2>
          <p>
            We bieden een unieke en gebruiksvriendelijke ervaring die past bij
            jouw behoeften. Ontdek onze functies en meer....
          </p>
          <button class="btn-secondary">Meer weten</button>
        </div>
        <div class="content-block">
          <img src="/svgs/our-mission.svg" alt="Onze Missie" />
          <h2>Onze Missie</h2>
          <p>
            Het leveren van hoogwaardige oplossingen met een focus op eenvoud en
            functionaliteit.
          </p>
          <button class="btn-secondary">Meer weten</button>
        </div>
        <div class="content-block">
          <img src="/svgs/our-vision.svg" alt="Onze Visie" />
          <h2>Onze Visie</h2>
          <p>
            Samen bouwen we aan een toekomst die innovatie en duurzaamheid
            combineert.
          </p>
          <button class="btn-secondary">Meer weten</button>
        </div>
      </section>
    </div>
  </body>
</html>
