body {
  font-family: "Syne", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.page-content {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}