/* Styling voor de navbar */
.navbar {
    background-color: #0D6EFD
    ; /* Hex kleur voor de navbar */
    font-family: "Orbitron", sans-serif;
  }
  .navbar .nav-link {
    color: #fffee4; /* Hex kleur voor de tekst */
    text-decoration: none;
    transition: color 0.3s, text-decoration-color 0.3s;
  }
  .navbar .nav-link:hover {
    color: #ffd700; /* Hover kleur voor tekst */
    text-decoration: underline;
    text-decoration-color: #ffd700;
  }
  .navbar .login-btn {
    background-color: #fffee4; /* Login knop achtergrond */
    color: #0D6EFD
    ; /* Tekst kleur op knop */
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
  }
  .navbar .login-btn:hover {
    background-color: #ffd700; /* Hover achtergrond kleur */
    color: #0D6EFD
    ;
    transform: scale(1.1); /* Animatie effect */
  }
  .navbar-nav {
    justify-content: space-evenly; /* Verdeel de links */
    flex-grow: 1;
  }